version: '3.9'

services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: nhh
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data

  backend:
    build:
      context: ../backend
    env_file:
      - ../.env
    environment:
      PORT: "4000"
      DATABASE_URL: postgresql://we_we_db_user:3bPyFN6eHykAfAb0DuZmBhqXxo5XZ9El@dpg-d485al1r0fns73fr46p0-a.oregon-postgres.render.com/we_we_db
      GOOGLE_DRIVE_MOCK: "true"
      GOOGLE_DRIVE_KEY_FILE: /app/config/service-account.json
      PRISMA_QUERY_ENGINE_LIBRARY: /app/node_modules/.prisma/client/libquery_engine-debian-openssl-3.0.x.so.node
      NODE_ENV: production
    ports:
      - "4000:4000"
    depends_on:
      - postgres
      - redis
      - minio
    volumes:
      - ../backend/config/service-account.json:/app/config/service-account.json:ro

  frontend:
    build:
      context: ../frontend
    env_file:
      - ../frontend/.env.local
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  postgres-data:
  minio-data:
